.datanalysis{
    max-width: 100%;
    /* height: 100%; */
    /* border: 1px solid red; */
    overflow-x: hidden;
    overflow-y: auto;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 312px); */
    /* grid-gap: 2rem; */
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2em;
}
.datanalysis .card{
    width: 280px;
    height: 120px;
    /* border: 1px solid red; */
    display: flex;
    color: rgb(75, 67, 67);
    overflow: hidden;
    border-radius: 10px;
    background: #dbe1e6;
    box-shadow: 0 0 5px #fff,
      5px 5px 10px #a7aaaf,
     
      -5px -5px 10px #fff;
}
.datanalysis .card .data{
    position: relative;
    width: 60%;
    /* border: 1px solid red; */
    height: 100%;
}
.datanalysis .card .data .amt{
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
    height: 50%;
    font-size: 1.3em;
    font-weight: 700;
    padding-left: 10px;
    line-height:60px;
}
.datanalysis .card .data .day{
    position: relative;
    width: 100%;
    text-transform: capitalize;
    /* border: 1px solid red; */
    height: 50%;
    padding-left: 10px;
}
.datanalysis .card .icon{
width: 40%;
height: 100%;
text-align: center;
line-height: 110px;
/* border: 1px solid rgb(12, 61, 238); */
position: relative;

/* border-radius: 50%; */
/* background: conic-gradient(rgb(252, 92, 101) 10.8deg, rgb(127, 143, 166) 10.8deg); */
}
.datanalysis .card .icon .cir{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  background: conic-gradient(rgb(252, 92, 101) 30.8deg, rgb(127, 143, 166) 10.8deg);
  /* border: 1px solid red; */
}
.datanalysis .card .icon .per{
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    /* border: 1px solid red; */
    background: #dbe1e6;
    border-radius: 50%;
    bottom: 4px;
    font-size: 1.7em ;
    font-weight: 600;
    display: flex;
    align-items: center;
   justify-content: center;
}
