.exp .modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
    /* border: 1px solid red; */
    backdrop-filter: blur(5px);
}
.exp .modal .box{
    position: relative;
    top: 50%;
    left: 50%;
    width: 730px;
    height: 500px;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    background: #f0f0f0;
    /* border: 1px solid red; */
}
.exp .modal .ledgeredit{
    position: absolute;
    top: 55px;
    right: 50px;
    width: 40px;
    height: 40px;
}
.exp .modal .ledgeredit i{
   display: inline-block;
   border-radius: 50%;
   position: relative;
   width: 40px;
   text-align: center;
   line-height: 40px;
   height: 40px;
   background: #dbe1e6;
   box-shadow: 0 0 5px #fff,
     5px 5px 10px #a7aaaf,
     -5px -5px 10px #fff;
     cursor: pointer;
}

.exp .box h1{
    width: 100%;
    background: skyblue;
    text-align: center;
    padding: 2px;
    color: #6c5ce7;
}
.exp .box div{
    width: 100%;
    /* border: 1px solid red; */
    margin: 20px 0px;
    padding: 10px 5px;
}
.exp .box div span{
    display: inline-block;
    /* border: 1px solid green; */
    padding: 4px;
}
.exp .box div span:nth-child(1){
   width: 30%;
   text-align: end;
   padding:0px 30px;
   font-size: 1.1em;
   font-weight: 700;
   color: rgb(76, 71, 71);
}
.exp .box div span:nth-child(2){
   width: 70%;
}
.exp .box div span:nth-child(2) input,
.exp .box div span:nth-child(2) select
{
   width: 75%;
   /* height: 100%; */
   font-weight: 500;
   font-size: 1.03em;
   border: none;
   outline: none;
   text-align: center;
   padding: 12px 10px;
   border-radius: 5px;
   background: #dbe1e6;
   box-shadow: 0 0 5px #fff,
     5px 5px 10px #a7aaaf,
    
     -5px -5px 10px #fff;
}
.exp .box div:last-child{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.exp .box div:last-child button{
   border: none;
   cursor: pointer;
   outline: none;
   padding: 5px 12px;
   color: white;
   font-size: 1.2em;
   font-weight: 600;
   border-radius: 5px;
   background: #36a0f1;
   transition: 0.2s;
  
}
.exp .box div:last-child button:hover{
    transform: scale(1.1);
    background: #0984e3;
}